<p>Olá #{name}, você solicitou a recuperação de sua senha no sistema da Ferrari.</p>
<p>Por favor, clique no link abaixo para recuperar a sua senha, ou o cole em seu navegador.</p>
<p>
    <a href="#{url}">#{url}</a>
</p>

<p>Se você não solicitou este email, por favor ignore-o.</p>